.products-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;

}

.product {
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  width: 100%;
  max-height: 80%;
  object-fit: cover;
}

.product p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.load-more-btn-container {
  text-align: center;
  margin-top: 2rem;
}